
html { 
    font-family: 'Ubuntu', sans-serif;
	
    color: white;
    background-size: cover;
  }
  
  
   
  input[type=button], input[type=submit], input[type=reset] {
        background-color: #0198E1;
        border: none;
        color: white;
        font-size: 18px;
        padding: 10px 10px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 25%;
        min-width: 200px;
        max-width: 300px;
        border-radius: 3px;
        display: inline-block;
		
    }

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #0088ca;
    }

#pageContentContainer {
    width: 90%;
	
}
        
#textContainer {
		   padding: 10px 0px 0px 30px;
           width: 70%;
           height: 250px;
           font-family: Arial;
		   font-size: 24px;
		   font-weight: 400;
		   text-align: center;
		   line-height: 34px;
		   color:#FFFFFF;
        }
#navButtons{
		width: 178px;
        height: 48px;
		background-color:#000000;
		background-repeat: repeat;
		background-position: left top;
		border: 1px solid      #CDCDCD;
		border-radius: 7px;
		}
		
#navButtons a{
         font-family: Arial;
        font-size: 27px;
		font-weight: 400;
		text-align: center;		
		color:#FFFFFF;
		padding-top: 5px;
		}
h1 {
        width: 700px;
		height: 30px;
		font-family: Bell MT;
		font-size: 48px;
		font-weight: 400;
		font-style: italic;
		color:      #FFFFFF;
    }
        
 
#pageContainer {
        width: 90%;
		padding-top:20%;
       }
h1{
	font-family: Arial;
	font-size: 54px;
	font-weight: 700;
	font-style: italic;
	color: #FFFFFF;
	padding:20px;
}
	       
.footer{
	border:solid 2px gray;
	
	float:center;
	position:relative;
	bottom: -200px;
	opacity:.80;
	background-color:black;
	color:white;
	font-family:geogia,Serif;
	font-size:1.0em;
}
.footer p a {
	color:white;
	font-size:0.6em;
	padding: 40px;
}


body{
    background-color:black;
    color: white;
}
#bg{

    float:right;
    height:100px;
    opacity: 0.23;
	margin:10px;
}
#homeButtom{

		width: 178px;
        height: 48px;
		background-color:#000000;
		background-repeat: repeat;
		background-position: left top;
		border: 1px solid #CDCDCD;
		border-radius: 7px;
		
		}
		
#homeButtom a{
        font-family: Arial;
        font-size: 27px;
		font-weight: 400;
		text-align: center;		
		color:#FFFFFF;
		padding-top: 5px;
		}
                .column {
  float: left;
  padding: 10px;  
}
.column.middle {
  padding-top:5%;
  width:70%;
 
}

.column.side {
  width: 20%;

}
 .column.side1 {
  margin-left:900px;
  width: 10%;

}
		
.button {
  background-color: black;
  color: white;
  padding: 12px  20px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
  
.container:after {
  content: "";
  display: table;
  clear: both;
}
input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



.button:hover {
  background-color: gray;
}

.container {
  border-radius: 5px;
  background-color:black;
  padding:10px;
  width: 100%;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

